# Bu faylni ".env" nomiga o'zgartirib, qiymatlarni o'zingiz yozing
BOT_TOKEN=BotFather_bergan_token
GROQ_API_KEY=Groq_API_kalitingiz
# ixtiyoriy:
# GROQ_MODEL=llama-3.3-70b-versatile
# MAX_PARALLEL_GENERATIONS=2
